/* ipad, tablets */
@media screen and (max-width: 991px) {
    .slider .list .item {
        width: 90%;
    }

    .slider.showDetail .list .item:nth-child(2) .detail .specifications {
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: #888 #e0e0e0;
    }

    .slider.showDetail .list .item:nth-child(2) .detail .specifications::-webkit-scrollbar {
        width: 8px;
        background: #e0e0e0;
        border-radius: 8px;
    }

    .slider.showDetail .list .item:nth-child(2) .detail .specifications::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
    }

    .slider.showDetail .list .item:nth-child(2) .detail .specifications::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .slider.showDetail .list .item:nth-child(2) .detail .title {
        font-size: 2em;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .slider .list .item {
        width: 100%;
        font-size: .625rem;
    }

    .slider .list .item:nth-child(2) .intro {
        width: 50%;
    }

    .slider.showDetail .list .item:nth-child(2) .detail {
        backdrop-filter: blur(10px);
        font-size: small;
    }

    .slider.showDetail .list .item:nth-child(2) .detail .checkout button {
        font-size: small;
        padding: .125rem;
        letter-spacing: 0px;
    }
}